@tailwind base;
@tailwind components;
@tailwind utilities;

/* Configuration des couleurs de base pour le mode Sombre/Clair */
:root {
  --foreground-rgb: 15, 23, 42; /* Slate 900 */
  --background-start-rgb: 248, 250, 252; /* Slate 50 */
  --background-end-rgb: 241, 245, 249; /* Slate 100 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 15, 23, 42; /* Slate 900 */
    --background-end-rgb: 2, 6, 23; /* Slate 950 */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
}

/* Pour que les inputs ne soient pas moches sur mobile */
input, select, textarea {
  font-size: 16px; /* Évite le zoom automatique sur iPhone */
}